.Spinner {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(96, 96, 96, 0.74);
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgba(255, 255, 255, 0.699);
  font-size: 0.9em;

  &:before {
    content: "Loading...";
  }

  &--Visible {
    visibility: visible;
  }

  &--Hidden {
    visibility: hidden;
  }
}